html {
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: #0e1012;
  font-family: sans-serif;
  color: #fff;
  overflow-x: hidden;
}

body {
  padding-bottom: 5%;
}

.header {
  width: 80%;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.header a {
  text-decoration: none;
  color: #818181;
}

.header a:hover {
  color: #f1f1f1;
}

.header-2 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.header-2 h1 {
  font-size: 48px !important;
}

.header-2 hr {
  width: 10%;
  border: 2px solid #fff;
}

.subheader {
  margin: 1% auto;
  text-align: center;
}

.button {
  margin: 0 auto;
  width: fit-content;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
  text-align: center;
  padding: 5px 10px 5px 10px;
}

.button a {
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.link-text {
  font-size: 2.5vw;
  padding-left: 10%;
  vertical-align: middle;
  padding-top: 10%;
}

.links {
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 10%;
}

.logo {
  height: auto;
  width: auto;
}

.main-content {
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #0e1012;
  z-index: -1;
}

.main-content h1 {
  font-size: 10vw;
  color: #f1f1f1;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 0;
}

.about-me {
  margin: 0 auto;
  padding: 0;
  width: 60%;
  margin-left: 10%;
}

.about-me p {
  padding: 0;
  margin: 0 auto;
  display: flex;
  font-size: 1.5vw;
  text-align: justify;
}

/* Online Resume */

.resume-container {
  margin: 50px auto;
  width: 100%;
  height: fit-content;
  background-color: #fff;
  border-radius: 5px;
}

.resume {
  margin: 0 auto;
  padding: 25px 50px;
  border: 1px solid red;
}

.resume-content {
  display: flex;
}

.resume-header {
  margin: 0 auto;
  display: flex;
  padding-bottom: 10px;
}

.resume-name {
  margin: 0;
}

.resume-name h1 {
  margin: 0 auto -10;
  color: black;
  font-size: 72px;
}

.resume-name h2 {
  margin: 0 auto;
  color: #252525;
  padding-left: 20px;
}

.resume-contact {
  margin-left: auto;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
}

.resume-contact h1 {
  color: #252525;
  font-size: 18px;
  text-align: left;
}

.resume-contact i {
  padding-right: 10px;
  vertical-align: middle;
}

.resume hr {
  margin: 0 auto;
}

.resume-section-experience {
  margin: 25px auto 0 0;
  width: 75%;
  border: 1px solid red;
}

.job-header {
  display: flex;
  margin-top: 20px;
  /* border: 1px solid blue; */
}

.job-bullets ul {
  margin: 0;
  color: black;
  padding-top: 10px;
}
section.job-title {
  margin: 0;
  padding: 0;
}

section.date {
  margin: auto 0 auto auto;
}

.resume-section-experience h1 {
  margin: 0 auto;
  font-size: 24px;
  color: black;
  padding: 0 0 0 10px;
  border-left: 5px solid black;
}

.resume-section-experience h2 {
  margin: 0 auto;
  color: black;
  font-size: 20px;
}

.resume-section-experience h3 {
  margin: 0 auto;
  color: #252525;
  font-size: 18px;
  padding-left: 10px;
}

.skills {
  width: max-content;
  display: flex;
  vertical-align: top;
  margin: 25px auto 0 20px;
  border: 1px solid blue;
}

.skills h1 {
  margin: 0 auto 10px;
  font-size: 24px;
  color: black;
  padding: 0 0 0 10px;
  border-left: 5px solid black;
}

.skills p {
  color: #252525;
  border: 1px solid #252525;
  border-radius: 5px;
  padding: 2px;
  display: inline;
}

/* Contact Me */
.sidebar {
  margin-top: 2%;
  width: 20%;
  float: left;
}

.sidebar h1 {
  margin: 0 auto;
  font-size: 24px;
  color: #fff;
}

.sidebar h2 {
  margin: 10px auto;
  font-size: 18px;
  color: #aeaaaa;
}

.flex {
  display: flex;
  padding-bottom: 10px;
}

.flex-2 {
  margin: 0;
  width: 20%;
  text-align: center;
  border-radius: 5px;
  float: right;
}

.main-content-2 {
  margin: 2% auto;
  padding: 0;
  width: 90%;
}

.main-content-2 form {
  margin: 0;
  margin-top: 1%;
  margin-left: 2%;
  width: 75%;
  height: fit-content;
  float: right;
}

.main-content-2 section {
  width: 50%;
}

.main-content-2 input {
  margin: 0 auto;
  width: 95%;
  height: 2vw;
  border-radius: 5px;
  padding-left: 10px;
}

.main-content textarea {
  height: 7vh;
  width: 100%;
  resize: none;
  padding: 5px 0 0 10px;
  border-radius: 5px;
}
